<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://googletagmanager.com"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SGLQS9RPFX');
    </script>
</head>
<body>
    <main style="max-width: 800px; margin: 40px auto; padding: 0 20px; font-family: sans-serif;">
        {{ content }}
    </main>
</body>
</html>
